{% extends "base.html" %}
{% block head %}
    <style>
    .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
    }
    .node text {
    font: 12px sans-serif;
    }
    .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    }
    </style>
{% endblock %}
{% block body %}
    <body>
        <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
            <input type=file name=file>
            <input type="submit" value="Upload File" name="submit">
        </form>
    </body>
{% endblock %}