{% extends "base.html" %}
{% block head %}
    <style>
    .file-input {
    height: 0.01em;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0.01em;
    }
    </style>
{% endblock %}
{% block body %}
    {% include "index_header.html" %}
    {% include "index_body.html" %}
    <script>
    var app = new Vue({
    el: "#app",
    data: {
        fileName: "Choose a file…",
        fileUploaded: false
    },
    methods: {
            putFileName: function(event) {
                this.fileName = event.target.files[0].name;
                this.fileUploaded = true;
        }
    }
    })
    </script>
</section>
{% endblock %}