<section class="section" id="app">
    <div class="container is-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="columns is-mobile is-centered">
                    <div class="column is-half is-narrow">
                        <div class="notification is-danger">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="columns is-mobile is-multiline is-half-mobile is-one-third-tablet is-one-quarter-desktop is-centered">
        <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
            <div class="field is-grouped is-grouped-centered">
                <div class="file has-name is-medium">
                    <label class="file-label">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input class="file-input" type="file" name="file" v-on:change="putFileName">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                            {% raw %}{{ fileName }}{% endraw %}
                        </span>
                    </span>
                </label>
            </div>
            <input class="button is-medium is-info is-outlined" type="submit" value="Upload File" name="submit" :disabled="fileUploaded == false">
        </div>
    </form>
</div>
</div>
</section>