{% extends "base.html" %}
{% block head %}
    <style>
    .file-input {
    height: 0.01em;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0.01em;
    }
    </style>
{% endblock %}
{% block body %}
    {% include "index_header.html" %}
    {% include "index_body.html" %}
    <script>
    var app = new Vue({
        el: "#app",
        data: {
        fileName: "The Business Units yml file goes here"
        },
        methods: {
        putFileName: function(event) {
        console.log("Here");
        console.log(event.target.value);
        this.fileName = event.target.value
        }
        }
    })
    </script>
</section>
{% endblock %}