{% extends "base.html" %}
{% block head %}
    <style>
    .file-input {
    height: 0.01em;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0.01em;
    }
    </style>
{% endblock %}
{% block body %}
    <section class="section" id="app">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-half is-offset-one-quarter">

                    <h3 class="landing title is-3 is-spaced has-text-centered">DCRUM: Business Units Visualizer</h3>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                                <div class="file has-name" >
                                    <label class="file-label">
                                        <div class="field has-addons">
                                            <span class="button is-medium is-light">
                                                <input class="file-input" type="file" name="file" v-on:change="putFileName">
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fa fa-upload"></i>
                                                    </span>
                                                    <span class="file-label ">
                                                        Choose a file…
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="button is-medium is-outlined">
                                                <span class="file-name" name=file>
                                                {% raw %}{{ fileName }}{% endraw %}
                                            </span>
                                        </span>
                                        <input class="button is-medium is-info" type="submit" value="Upload File" name="submit">
                                    </div>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var app = new Vue({
    el: "#app",
    data: {
    fileName: "The Business Units yml file goes here"
    },
    methods: {
    putFileName: function(event) {
    console.log("Here");
    console.log(event.target.value);
    this.fileName = event.target.value
    }
    }
    })
    </script>
</section>
{% endblock %}